body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  letter-spacing: 0.5px;
}
.site-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-link {
  transition: ease;
}

.logo-link:active {
  opacity: 0.6;
}
.logo-link:hover {
  opacity: 0.8;
}

.site-header-action {
  display: flex;
  align-items: center;
}
.header-link {
  color: black;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 15px;
  transition: color 0, 4s ease, opacity 0.4s ease;
}
.sitenav-list {
  list-style: none;
  display: flex;
}

.header-link:hover {
  color: #ff7500;
}
.header-link:active {
  opacity: 0.6;
}

.main-link {
  color: white;
  background-color: #ff7500;
  text-decoration: none;
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  transition: opacity 0.4s ease;
}

.main-link:hover {
  opacity: 0.8;
}

.main-link:active {
  opacity: 0.6;
}

.hero {
  background-color: #252420;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  width: 390px;
}

.hero-line {
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}

.hero-img {
  width: 510px;
  height: 510px;
}
.hero-heading {
  font-weight: bolder;
  font-size: 40px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Arial", sans-serif;
}
.hero-text {
  line-height: 150%;
}
.features-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.features-heading {
  width: 440px;
  font-size: 72px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Arial", sans-serif;
}
.features-htwo {
  font-size: 24px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Arial", sans-serif;
}
.class="features-textline" {
  color: #000;
  font-family: Roboto;
  line-height: 150%;
}
.features-thirdpart {
  background-color: #252420;
  columns: #fff;
}
.features-thirdpart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features-thirdheding {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  font-family: "Roboto Condensed", "Arial", sans-serif;
}
.third-text {
  color: #fff;
  line-height: 150%;
  letter-spacing: 0.5px;
}
.site-footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.socials {
  display: flex;
}

.site-footer-bottom {
  display: flex;
}
.footer-link {
  text-decoration: none;
  color: #252420;
}
.feeater-icon {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
}
.feature {
  width: 340px;
}
.promo-content {
  width: 400px;
}
.promo-highlight {
  color: #ff7500;
}
.promo-image {
  width: 440px;
  height: 440px;
  object-fit: cover;
}
.site-footer {
  background-color: #f8f8f8;
}
.site-footer-divider {
  background-color: rgba(37, 36, 32, 0.5px);
  height: 2px;
}
.site-footer ul {
  list-style: none;
}
.site-footer-link a {
  line-height: 16px;
  text-decoration: none;
  color: #252420;
}

.site-footer-link a:hover {
  color: #ff7500;
}
.site-footer-link a:focus {
  opacity: 0.6;
}
.socials a:hover {
  color: #ff7500;
}
.site-footer-link {
  width: 224px;
  line-height: 19px;
}
